@font-face{
    font-family: grenoble;
    src: url(Grenoble-Serial-Bold.ttf);
}
.head{
    position: relative;
    width: 767px;
    height: 103px;
    margin-left: 7px;
    margin-bottom: 4px;
}
.head-top-left{
    position: relative;
    width: 380px;
    margin-right: 35px;
    float: left
}
.head-top-right{
    position: relative;
    font-family: Arial, 'sans-serif';
    float: left
}
.head-title{
    position: relative;
    font-size: 45px;
    height: 48px;
    margin-left: 30px;
    font-family: grenoble;
    color: #4F2B73;
    float: left
}
.head-subtitle{
    position: relative;
    font-size: 12px;
    margin-left: 180px;
    color: #B0D0C1;
    font-family: "Comic Sans MS", cursive, sans-serif;
    float: left
}
.rainbow-wall{
    position: relative;
    margin-top: 4px;
    margin-bottom: 4px;
    float: left
}
.head-ship{
    position: relative;
    width:108px;
    height:59px;
    border-radius: 12px 0px 0px 12px;
    border:2px solid #B5BACE;
    background-color:#CEEBEF;
    float: left
}
.head-call-img{
    position: relative;
    margin-top: 12px;
    margin-left: 18px;
    float: left
}
.head-call-header{
    position: relative;
    margin-left: 12px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
    float: left
}
.head-call-num{
    position: relative;
    margin-left: 24px;
    font-size: 18px;
    font-style: italic;
    float: left
}
.ship-text{
    font-size: 12px;
    color: #C1BFD5;
    margin-left: 15px;
    margin-top: 8px
}
.head-call{
    position: relative;
    width:234px;
    height:59px;
    border-radius: 0px 12px 12px 0px;
    border:2px solid #B5BACE;
    border-left: 0px;
    background-color:#CEEBEF;
    color: #D98B5D;
    float: left
}
.head-bot{
    position: relative;
    float: left
}
.menu{
    position: relative;
    margin-top: 2px;
    color: #9F9C8D;
    float: left
}
ul{
    font-family: Arial, 'sans-serif';
    font-size: 14px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    float: left
}
li{
    display: inline;
    padding-left: 22px;
    padding-right: 22px;
    float: left
}
.flags{
    position: relative;
    margin-left: 12px;
    float: left
}
.body{
    position: relative;
    width: 767px;
    height: 383px;
    margin-top: 10px;
    margin-left: 7px;
    margin-bottom: 5px;
}
.body-left{
    position: relative;
    width: 334px;
    height: 383px;
    float: left
}
.body-left-top{
    position: relative;
    width: 334px;
    height: 221px;
    margin-bottom: 5px;
    float: left
}
.body-left-bottom{
    position: relative;
    width: 334px;
    height: 157px;
    float: left
}
.body-left-bottom-img{
    position: relative;
    width: 104px;
    height: 157px;
    float: left
}
.body-left-box{   
    position: relative;
    font-family: Arial, sans-serif;
    color: white;
    font-weight: bold;
    background-color: #EF7A82;
    width: 225px;
    height: 157px;
    margin-left: 5px;
    float: left
}
.body-right{
    position: relative;
    width: 426px;
    height: 383px;
    margin-left: 5px;
    float: left
}
.box-text{
    position: relative;
    font-size: 18px;
    margin-top: 15px;
    margin-left: 10px;
    float: left
}
.box-number{
    position: relative;
    font-size: 66px;
    height: 74px;
    margin-left: 10px;
    float: left
}
.box-sign{
    position: relative;
    font-size: 34px;
    font-weight: normal;
    height: 30px;
    margin-top: 8px;
    float: left
}
.box-text2{
    position: relative;
    font-size: 28px;
    float: left
}

.foot{
    position: relative;
    font-family: Arial, 'sans-serif';
    color: white;
    width: 767px;
    height: 86px;
    margin-left: 7px;
    
}
.foot-left{
    position: relative;
    background-color: #B59AC3;
    width: 251px;
    height: 86px;
    float: left
}
.foot-left-header{
    position: relative;
    font-size: 14px;
    font-weight: bold;
    margin-top: 3px;
    margin-left: 7px;
    float: left;
}
.foot-left-img{
    position: relative;
    margin-top: 4px;
    margin-left: 13px;
    margin-right: 9px;
    float: left
}
.foot-left-desc{
    position: relative;
    font-size: 11px;
    width: 130px;
    line-height: 14px;
    margin-top: 1px;
    float: left
}
.foot-right{
    background-color: #8DCAC3;
    width: 509px;
    height: 86px;
    margin-left: 5px;
    float: left;
}
.foot-right1{
    width: 248px;
    height: 86px;
    position: relative;
    float:left; 
}
.foot-right-img1{
    position: relative;
    margin-top: 17px;
    margin-left: 28px;
    margin-right: 8px;
    float: left
}
.foot-right-header1{
    position: relative;
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    float: left;
}
.foot-right-desc1{
    position: relative;
    line-height: 14px;
    font-size: 11px;
    width: 80px;
    float: left
}
.foot-right2{
    position: relative;
    width: 256;
    height: 86;
    float: left
}
.foot-right-img2{
    position: relative;
    margin-top: 17px;
    margin-right: 5px;
    float: left
}
.foot-right-header2{
    position: relative;
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    float: left
}
.foot-right-desc2{
    position:relative;
    font-size: 11px;
    width: 126px;
    line-height: 14px;
    float: left
}